@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        height: 100vh;
        background-color: black;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
}